main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

main > div {
  padding: .5em 1em;
}

main > .main {
  flex: 3 0 0;
}

main > .sidebar {
  flex: 1 0 0;
}

.ui.segment {
  border-radius: initial;
}